 header h1 {
            font-size: 20vw; /* Schriftgröße 20% der Breite des Ansichtsfensters */
            height: 100vh; /* Höhe 100% der Ansichtsfensterhöhe */
       }
.pink-section {
            background-color: pink;
            width: 50%;
            
        }

        .pink-section p:nth-child(1) {
            font-size: 18px;
        }

        .pink-section p:nth-child(2) {
            font-size: 3vw; /* 3% of the viewport width */
        }

        .pink-section p:nth-child(3) {
            font-size: 5vh; /* 5% of the viewport height */
        }
 .lightblue-section {
            background-color: lightblue;
            padding: 20px;
        }

        .lightblue-section p:nth-child(1) {
            font-size: 18px;
        }

        .lightblue-section p:nth-child(2) {
            font-size: 100%; /* 100% of the font size of the parent (.lightblue-section) */
        }

        .lightblue-section p:nth-child(3) {
            font-size: 100%; /* 100% of the font size of the root element (body) */
        }

     .orange-box {
    width: 80vw;
    height: 50vh;
    background-color: orange;
    }

